<div style="float:left;">
  <b>Enjoyed my blog? Please share!</b>
  <div class="ssk-group ssk-round" style="margin-top:10px; margin-bottom:10px">
    <a href="https://twitter.com/share?text=Check%20out%20'{{ page.title }}'%20by%20Bo%20Peng&via=_bopeng&url={{ post.url }}" class="ssk ssk-twitter" target="_blank"></a>
    <a href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&title={{page.title}}" class="ssk ssk-facebook" target="_blank"></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="ssk ssk-google-plus" target="_blank"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url=http%3a%2f%2fbopeng.io%2f{{ page.url }}&source=http%3a%2f%2fbopeng.io" class="ssk ssk-linkedin" target="_blank"></a>
    <a href="http://www.tumblr.com/share/link?url={{post.url}}&name={{page.title}}&description=Bo%20Peng" class="ssk ssk-tumblr" target="_blank"></a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" class="ssk ssk-reddit" target="_blank"></a>
    <a href="http://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}>&description={{page.title}}" class="ssk ssk-pinterest" target="_blank"></a>
  </div>
</div>
