---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
  {{ content }}
  If you enjoyed this post, please share!
  <div class="ssk-group ssk-round">
    <a href="https://twitter.com/share?text=Check%20out%20'{{ page.title }}'%20by%20Bo%20Peng&via=_bopeng&url={{ post.url }}" class="ssk ssk-twitter" target="_blank"></a>
    <a href="http://www.facebook.com/sharer.php?u={{post.url}}&p[title]={{page.title}}" class="ssk ssk-facebook" target="_blank"></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="ssk ssk-google-plus" target="_blank"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{post.url}}&title={{page.title}}&source=bopeng.io" class="ssk ssk-linkedin" target="_blank"></a>
    <a href="http://www.tumblr.com/share/link?url={{post.url}}&name={{page.title}}&description=Bo%20Peng" class="ssk ssk-tumblr" target="_blank"></a>
    <a href="http://www.reddit.com/submit?url={{post.url}}&title={{page.title}}" class="ssk ssk-reddit" target="_blank"></a>
</div>
</article>

<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
